<div class="container max-w-8xl mx-auto">
  <div>
    <!-- <h3 class="text-lg leading-6 font-medium text-gray-900">
      Last 30 days
    </h3> -->
    <div class="mt-5 text-center grid grid-cols-1 gap-5 sm:grid-cols-5 mx-auto">
      <div class="bg-white overflow-hidden shadow rounded-lg col-start-2">
        <div class="px-4 py-5 sm:p-6">
          <dl>
            <dt class="text-md leading-5 font-medium text-gray-500">
              Total Contributions
            </dt>
            <dd class="mt-1 text-xl leading-9 font-semibold text-gray-900">
              71,897
            </dd>
          </dl>
        </div>
      </div>
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <dl>
            <dt class="text-md leading-5 font-medium text-gray-500 truncate">
              Followers
            </dt>
            <dd class="mt-1 text-xl leading-9 font-semibold text-gray-900">
              58.16%
            </dd>
          </dl>
        </div>
      </div>
      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6">
          <dl>
            <dt class="text-md leading-5 font-medium text-gray-500 truncate">
              Following
            </dt>
            <dd class="mt-1 text-xl leading-9 font-semibold text-gray-900">
              24.57%
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
