<div class="mt-14 text-center">
  <div class="">
    <% if @user_profile.avatar_image %>
      <%= image_tag(@user_profile.avatar_image_url, class: "inline-block h-24 w-24 rounded-md") %>
    <% end %>
  </div>
  <div class="">
    <h2 class="my-4 text-2xl font-bold leading-7 text-gray-800 sm:text-3xl sm:leading-9 sm:truncate">
      <%= @user_profile.name.full %><%= @user_profile.gender == "male" ? fa_icon("fal fa-mars", class: "text-gray-400 ml-3") : fa_icon("fal fa-venus", class: "text-gray-400 ml-3") %>
    </h2>
  </div>
</div>

<div class="text-center">
  <%#= render(partial: "/votable/following", locals: { followable: follow_user_profile_path(@user_profile) }) if user_signed_in? && (@user_profile.id != current_user.id) %>
</div>

<br>
